@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.logo {
    margin-left: 15px;
    margin-top: 10px;
    width: 12%;
}

.logo img {
    width: 100%;
}


html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #0f0f0f;
    overflow: overlay;
    padding: 20px 10px;

}

.header {
    margin-bottom: 30px;
    text-align: center;
    color: white;

}

.faq-collapse {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: auto;
    max-width: 600px;
    padding-bottom: 20px;
    width: 100%;
}

.faq-question {
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 14px 20px;
}

.faq-question:hover {
    background-color: rgb(187, 186, 186);;
}

.faq-question:active {
    opacity: 0.9;
}

.faq-question.active {
    background-color:  rgb(235, 235, 235);
}

.faq-question.active:hover {
    background-color: rgb(187, 186, 186);;


}

.faq-question > div {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    width: 30px;
}

button svg {
    fill: rgb(0, 0, 0);
    width: 100%;
}

@keyframes fodeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.faq-answer {
    display: none;
}

.faq-question.active .faq-answer {
    animation: fadeIn 0.3s;
    display: block;
}

